
// Variables
$fontFamily: 'Literata', serif;
$titleFontFamily: 'Literata', serif;
$baseFontSize: 15px;
$bodyBGColor: #edeef4;
$baseFontColor: #333;

$linkColor: #ff0000;
$linkColorHover: #e00000;

$desktopMenuDropDownText: #fff;
$desktopMenuDropDownBg: $linkColor;
$desktopMenuDropDownBgHover: $linkColorHover;
$borderColor: #e8e8e8;

// Mixin
@mixin globalButton(){
	background: $linkColor;
	cursor: pointer;
	color: #fff;
	border: 0;
	padding: 14px 30px;
	line-height: 100%;
	margin-right: 2px;
	display: inline-block;
	@include border-radius(0px);
	@include transition(all 0.3s);
}

@mixin globalButtonHover(){
    background: $linkColorHover;
    color: #fff;
}