@import "variables-and-mixins";

@media (min-width: 576px){
  .container {
    max-width: 570px;
  }
}

@media (min-width: 767px) {

  .top-message,
  .topwidget,
  .features,
  .services,
  .clients,
  .updates,
  .faq,
  .bottom-widget,
  .footer,
  .copyright{
    padding: 40px 0;
  }
  
  .container {
    max-width: 1140px;
  }

  .navbar-toggle{
    display: none;
  }

  .user-logged-in .main-header{
    position: relative;
  }

  // Flexslider
  .flexslider {
    .slider-caption{
      display: block;
    }

    .flex-direction-nav{
      display: block;
      margin-top: -24px;
    }
  }

  .region-search{
    float: right;
    width: 300px;
    padding: 16px 0;
  }

  .navbar-toggle-close{
    display: none;
  }

  .main-menu{
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.20);
    border-width: 1px 0;
  }

  .region-primary-menu{
    display: inline-block !important;
    width: auto;
    margin: 0;
    background: none;
    border-radius: 5px;
    vertical-align: middle;
    position: static;

    ul{
      border: 0;
      float: right;

      ul{
        background: $desktopMenuDropDownBg;

        li{

          a{
            color: $desktopMenuDropDownText;
            padding: 18px 15px;
          }

          a:hover,
          a:focus,
          a:active,
          a.highlighted,
          &.active a{
            color: $desktopMenuDropDownText;
            background: $desktopMenuDropDownBgHover;
            padding: 18px 15px;
          }

        }
      }      
    }

    li{
      border: 0;

      a{
        background: none;
        border: 0;
        font-weight: 400;
        color: #fff;

        span.sub-arrow {
          padding: 0;
          top: 22px;
          margin-top: 0;
          bottom: 2px;
          right: 2px;
          margin-left: -5px;
          left: auto;
          width: 0;
          height: 0;
          border-width: 4px;
          border-style: solid;
          border-color: #fff transparent transparent transparent;
          font-size: 2em;
          line-height: 100%;
        }
      }

      li{
        span.sub-arrow {
          top: 22px;
          border-color: #0000 #0000 #0000 #fff;
          right: 5px;
        }
      }

    }
  }

  .carousel-caption p,
  .carousel-caption h3{
    display: block;
  }

  .carousel-caption p:last-child{
    margin: 0;
  }

  .carousel-caption{
    background-color: #fff;
    background: rgba(0, 0, 0, 0.84);
    color: #ddd;
    text-shadow: none;
    padding: 20px;
    top: 20%;
    left: 10%;
    bottom: auto;
    width: 30%;
    text-align: left;
  }

  .comment-wrap{
    .author-details{ width: 10%; }
    .author-comments{ width: 90%; }
  }

  .clients{
    .region{
      ul {
        li{
          display: inline-block;
          width: auto;
          img{ max-width: 200px; }
        }
      }
    }

  }

  .social-media{
    margin: 0;
    padding: 0px 0;
    display: inline-block;
  }

}

@media (min-width: 992px) {
  .flexslider {
    .slider-caption{
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      padding: 8%;
      opacity: .9;
    }
  }
}